<p id="notice"><%= notice %></p>

<p>
    <strong>Avatar:</strong>
    <% if @user.avatar.attached? %>
    <%= image_tag cloudfront_url_for(@user.avatar), size: "50x50" %>
    <% end %>
</p>

<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>

<p>
    <strong>Files:</strong>
    <% @user.files.each do |file| %>
    <a href="<%= rails_blob_path(file, disposition: "attachment")%>">Download <%= file.filename %></a>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>